@font-face {
    font-family: 'The Bystander Collection Sans';
    src: url('BystanderSans-Medium.eot');
    src: local('The Bystander Collection Sans Medium'), local('BystanderSans-Medium'),
        url('BystanderSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('BystanderSans-Medium.woff2') format('woff2'),
        url('BystanderSans-Medium.woff') format('woff'),
        url('BystanderSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Bystander Collection Sans';
    src: url('BystanderSans-Light.eot');
    src: local('The Bystander Collection Sans Light'), local('BystanderSans-Light'),
        url('BystanderSans-Light.eot?#iefix') format('embedded-opentype'),
        url('BystanderSans-Light.woff2') format('woff2'),
        url('BystanderSans-Light.woff') format('woff'),
        url('BystanderSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Bystander Collection Serif';
    src: url('BystanderSerif-Medium.eot');
    src: local('The Bystander Collection Serif Medium'), local('BystanderSerif-Medium'),
        url('BystanderSerif-Medium.eot?#iefix') format('embedded-opentype'),
        url('BystanderSerif-Medium.woff2') format('woff2'),
        url('BystanderSerif-Medium.woff') format('woff'),
        url('BystanderSerif-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Bystander Collection Serif';
    src: url('BystanderSerif-Regular.eot');
    src: local('The Bystander Collection Serif'), local('BystanderSerif-Regular'),
        url('BystanderSerif-Regular.eot?#iefix') format('embedded-opentype'),
        url('BystanderSerif-Regular.woff2') format('woff2'),
        url('BystanderSerif-Regular.woff') format('woff'),
        url('BystanderSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Bystander Collection Serif';
    src: url('BystanderSerif-Bold.eot');
    src: local('The Bystander Collection Serif Bold'), local('BystanderSerif-Bold'),
        url('BystanderSerif-Bold.eot?#iefix') format('embedded-opentype'),
        url('BystanderSerif-Bold.woff2') format('woff2'),
        url('BystanderSerif-Bold.woff') format('woff'),
        url('BystanderSerif-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bystander';
    src: url('BystanderSans-Bold.eot');
    src: local('The Bystander Collection Sans Bold'), local('BystanderSans-Bold'),
        url('BystanderSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('BystanderSans-Bold.woff2') format('woff2'),
        url('BystanderSans-Bold.woff') format('woff'),
        url('BystanderSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Bystander Collection Script';
    src: url('BystanderScript-Regular.eot');
    src: local('The Bystander Collection Script'), local('BystanderScript-Regular'),
        url('BystanderScript-Regular.eot?#iefix') format('embedded-opentype'),
        url('BystanderScript-Regular.woff2') format('woff2'),
        url('BystanderScript-Regular.woff') format('woff'),
        url('BystanderScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'The Bystander Collection Serif Semi';
    src: url('BystanderSerif-SemiBold.eot');
    src: local('The Bystander Collection Serif Semi Bold'), local('BystanderSerif-SemiBold'),
        url('BystanderSerif-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('BystanderSerif-SemiBold.woff2') format('woff2'),
        url('BystanderSerif-SemiBold.woff') format('woff'),
        url('BystanderSerif-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Bystander Collection Serif';
    src: url('BystanderSerif-Light.eot');
    src: local('The Bystander Collection Serif Light'), local('BystanderSerif-Light'),
        url('BystanderSerif-Light.eot?#iefix') format('embedded-opentype'),
        url('BystanderSerif-Light.woff2') format('woff2'),
        url('BystanderSerif-Light.woff') format('woff'),
        url('BystanderSerif-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Bystander Collection Sans';
    src: url('BystanderSans-Regular.eot');
    src: local('The Bystander Collection Sans'), local('BystanderSans-Regular'),
        url('BystanderSans-Regular.eot?#iefix') format('embedded-opentype'),
        url('BystanderSans-Regular.woff2') format('woff2'),
        url('BystanderSans-Regular.woff') format('woff'),
        url('BystanderSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'The Bystander Collection Sans Semi';
    src: url('BystanderSans-SemiBold.eot');
    src: local('The Bystander Collection Sans Semi Bold'), local('BystanderSans-SemiBold'),
        url('BystanderSans-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('BystanderSans-SemiBold.woff2') format('woff2'),
        url('BystanderSans-SemiBold.woff') format('woff'),
        url('BystanderSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

